NEXT_PUBLIC_SUPABASE_URL=https://yuqqprnaxnkjbmbzmbwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1cXFwcm5heG5ramJtYnptYndtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NDMwOTEsImV4cCI6MjA3OTAxOTA5MX0.diPmYhBYcrs0sbcjEGT9Xwntg5PKNtrpPwBCf5Jw2H4

